html, body, table {
	padding: 0;
	margin: 0;
}

.left {
	float: left;
}
.right {
	float: right;
}
.reset {
	clear: both;
}
.gone {
	display: none !important;
}

/* tab tool bar */
#tabs {
	top: 0;
	left: 0;
	right: 0;
	height: 2em;
	position: fixed;
	background-color: #f3f3f3;
	border-bottom: .2em solid #ccc;
}
#tabs * {
	margin: 0;
	padding-left: .5em;
	padding-right: .5em;
}
#tabs > * {
	height: 100%;
	line-height: 2em;
	margin-bottom: -.2em;
	border-bottom: .2em solid transparent;
}

#tabs>label.open_file {
	cursor: pointer;
	width: 12em;
	overflow: hidden;
	background-color: #bbc;
	border-bottom-color: #bbc;
}

#tabs>span {
	cursor: pointer;
}
#tabs>span:hover {
	background-color: #ccc;
	border-bottom-color: #bbc;
}
#tabs>span.active {
	border-bottom-color: #99c;
}
#tabs>.filter {
	border: none;
}

/* extension tool bar */
#tabs>.ext {
	display: none;
	padding-left: 0;
	padding-right: 0;
}
#tabs>.ext.active {
	display: block;
}
#tabs>.ext.active::before {
	float: left;
	content: "|";
	padding-left: .5em;
	padding-right: .5em;
}

#content {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0;
}
#content>div {
	display: none;
	margin: 2.3em .2em .2em;
	overflow: auto;
}
#content>div.fixed {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	overflow: hidden;
}
#content>div.active {
	display: block;
}

.mesage {
	text-align: center;
}
#tooltip {
	background-color: white;
	display: inline-block;
	position: fixed;
	overflow: hidden;
	border: 1px solid gray;
	padding: .5em;
	margin: .5em;
	bottom: 0;
	right: 0;
}

#tree {
	width: 100%;
	border-spacing: 0;
}

/* HitCount, SelfTime, TotalTime */
#tree th, #tree td {
	text-align: right;
	padding: 5px;
	width: 5em;
	border-bottom: 1px solid #ddd;
}

#tree>tr:first-child>td {
	font-weight: bold;
}
/* Highlighting */
#tree th:hover, #tree>tr:hover {
	background-color: #eee;
}

#tree>tr>td:hover {
	background-color: #ccc;
}

#tree th:last-child, #tree td:last-child {
	text-align: left;
	width: unset;
}
