[Desktop Entry]
Version=1.0
Type=Application
Name=gx
Comment=
Exec=/home/zoltan/Dropbox/Workspace/Projects/gxcc/gx/gfx.sh %F
Icon=/home/zoltan/Dropbox/Workspace/Projects/gxcc/gx/media/gfx.png
Path=/home/zoltan/Dropbox/Workspace/Projects/gxcc/gx/
Terminal=false
StartupNotify=true
