html body {
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.left {
	display: inline-block;
	float: left;
}
.right {
	display: inline-block;
	float: right;
}
.reset {
	clear: both;
}

/* tab tool bar */
#tabs {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 1.6em;
	padding-left: .5em;
	padding-right: .5em;
	border-bottom: .1em solid #ccc;
	background-color: #f3f3f3;
}
#tabs>* {
	display: inline-block;
	padding-top: .3em;
	padding-left: .3em;
	padding-right: .3em;
	padding-bottom: .1em;
	bottom: 0;
}
#tabs>input {
	margin-top: .3em;
	padding: 0;
}
#tabs>span {
	border-bottom: .2em solid transparent;
	cursor: pointer;
}
#tabs>span:hover {
	background-color: #ccc;
}
#tabs>span.active {
	border-bottom: .2em solid #99c;
}

/* extension tool bar */
#tabs>.ext {
	display: none;
	padding: 0;
	margin: 0;
}
#tabs>.ext.active {
	display: inline-block;
}
#tabs>.ext.active::before {
	margin-left: 1em;
	display: inline-block;
	content: "|"
}

#content {
	display: block;
	position: absolute;
	top: 1.6em;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0px;
	margin-top: .1em;
}
#content>div {
	display: none;
	position: absolute;
	overflow-y: scroll;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0;
}
#content>div.fixed {
	overflow-y: hidden;
}
#content>div.active {
	display: block;
}

#loading {
	text-align: center;
}

#todo {
	text-align: center;
}

#code {
	margin: 0;
	padding:.5em;
}

#callChart {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 80%;
	margin: 0;
	background-color: #f3f3f3;
}
#callChart>div {
	overflow: hidden;
	background-color: gray;
	position: absolute;
	cursor: pointer;
}

#callTree {
	position: absolute;
	overflow-y: scroll;
	top: 20%;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 8px;
	margin: 0;
}

/* HitCount, SelfTime, TotalTime */
#callTree th,
#callTree td {
	text-align: right;
}
/* Highlightings */
#callTree>tr:hover,
#callTree>tr.hover,
#callChart>div:hover,
#callChart>div.hover {
	background-color: yellowgreen;
}

/* Function name / expander */
#callTree th:last-child,
#callTree td:last-child {
	text-align: left;
}

#callTree td:last-child::before {
	content: " ";
	cursor: pointer;
	display: inline-block;
	text-align: center;
	width: 1em;
	min-width: 1em;
	max-width: 1em;
	zoom: 75%;
}

/*Big triangles:
U+25B2 (Black up-pointing triangle ▲)
U+25BC (Black down-pointing triangle ▼)
U+25C0 (Black left-pointing triangle ◀)
U+25B6 (Black right-pointing triangle ▶)
U+25B3 (White up-pointing triangle △)
U+25BD (White down-pointing triangle ▽)
U+25C1 (White left-pointing triangle ◁)
U+25B7 (White right-pointing triangle ▷)

/*/
#callTree td:last-child.expanded::before { content: "▼"; }
#callTree td:last-child.expanded:hover::before { content: "▽"; }
#callTree td:last-child.collapsed::before { content: "▶"; }
#callTree td:last-child.collapsed:hover::before { content: "▷"; }

/*
Smaller triangles:
U+25B4 (Black up-pointing small triangle ▴)
U+25C2 (Black left-pointing small triangle ◂)
U+25BE (Black down-pointing small triangle ▾)
U+25B8 (Black right-pointing small triangle ▸)
U+25C3 (White left-pointing small triangle ◃)
U+25BF (White down-pointing small triangle ▿)
U+25B9 (White right-pointing small triangle ▹)
U+25B5 (White up-pointing small triangle ▵)
/* /
#callTree td:last-child.expanded::before { content: "▾"; }
#callTree td:last-child.expanded:hover::before { content: "▿"; }
#callTree td:last-child.collapsed::before { content: "▸"; }
#callTree td:last-child.collapsed:hover::before { content: "▹"; }
/**/

/*/
#callTree td:last-child.expanded::before { content: "◿"; }
#callTree td:last-child.collapsed::before { content: "◹"; }
#callTree td:last-child.expanded:hover::before { content: "◢"; }
#callTree td:last-child.collapsed:hover::before { content: "◥"; }
/*/
