/* Splitter: vertical & horizontal */
.split-pane {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	position: absolute;
}
.split-pane > div {
	width: 100%;
	height: 100%;
	float: left;
	overflow: hidden;
	position: relative;
}
.split-pane.vertical > div {
	width: 50%;
	height: 100%;
}
.split-pane.horizontal > div {
	width: 100%;
	height: 50%;
}
.split-pane.primary > div {
	width: 0;
	height: 0;
}
.split-pane.primary > div:first-child {
	width: 100%;
	height: 100%;
}
.split-pane.secondary > div {
	width: 0;
	height: 0;
}
.split-pane.secondary > div:last-child {
	width: 100%;
	height: 100%;
}

@media (orientation: portrait) {
	.split-pane > div {
		width: 100%;
		height: 50%;
	}
}
@media (orientation: landscape) {
	.split-pane > div {
		width: 50%;
		height: 100%;
	}
}

/* header and content */
div.header {
	background-color: rgb(240,240,236);
}

.nav-item.nav-right {
	margin-left: auto;
}

.text-content {
	font-size: .8em;
}

textarea {
	display: block;
	padding: 0;
	margin: 0;

	width: 100%;
	min-width: 100%;
	max-width: 100%;

	height: 100%;
	min-height: 100%;
	max-height: 100%;

	font-family: 'Lucida Console', Monaco, monospace;
	font-size: 1em;

	outline: none;
	overflow-x: auto;
	overflow-y: scroll;
	white-space: pre;
	border-radius: 0;
}
textarea#output {
	color: white;
	background-color: black;
	border: 0;

	font-family: 'Lucida Console', Monaco, monospace;
	font-size: 1em;
}
.text-content .CodeMirror {
	margin: 0;
	padding: 0;
	border: 0 solid #eee;
	height: 100%;

	font-family: 'Lucida Console', Monaco, monospace;
 	font-size: 1em; 
}

/* tabs and trailing spaces*/
.cm-trailingspace {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAACCAYAAAB/qH1jAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUXCToH00Y1UgAAACFJREFUCNdjPMDBUc/AwNDAAAFMTAwMDA0OP34wQgX/AQBYgwYEx4f9lQAAAABJRU5ErkJggg==);
	background-position: bottom left;
	background-repeat: repeat-x;
}

.cm-tab {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAMCAYAAAAkuj5RAAAAAXNSR0IArs4c6QAAAGFJREFUSMft1LsRQFAQheHPowAKoACx3IgEKtaEHujDjORSgWTH/ZOdnZOcM/sgk/kFFWY0qV8foQwS4MKBCS3qR6ixBJvElOobYAtivseIE120FaowJPN75GMu8j/LfMwNjh4HUpwg4LUAAAAASUVORK5CYII=);
	background-position: right;
	background-repeat: no-repeat;
}

/* match words */
.CodeMirror-focused .cm-matchhighlight {
/* 	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFklEQVQI12NgYGBgkKzc8x9CMDAwAAAmhwSbidEoSQAAAABJRU5ErkJggg==); */
	background-position: bottom;
	background-repeat: repeat-x;
}
.cm-matchhighlight {background-color: lightgreen}
.CodeMirror-selection-highlight-scrollbar {background-color: green}
