* {
	margin: 0;
	padding: 0;
	font-size: inherit;
	font-family: inherit;
}
body {
	width:100%;
	margin: auto;
	display: block;
	font-size: 1em;
}

.clear {clear: both;}
.right {float: right;}
.left {float: left;}

.content {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	position: absolute;
	background-color: white;
}

.content.list {
	padding: .5em;
	overflow-y: auto;
	background-color: #fafafa;
}

.content.list > * {
	padding-top: 1em;
}

#sidebar {
	width: 14em;
	max-width: 45%;
	float: left;
}

.content.list li:hover {
	background-color: #dadada;
	cursor: hand;
}

.content.list > ul {
	padding: .5rem 1em;
}
.content.list > ul > li {
	list-style: none;
	overflow: hidden;
	white-space: nowrap;
	padding: 0.5rem 0.5em;
}
.content.list input {
	margin: 0.25rem 0;
	padding: 0.25rem 0.5em;
	width: 100%;
	border: solid 1px #dadada;
	border-radius: 0.2em;
}

.content.list button {
	border-radius: 0.2em;
	padding: 0.25rem 0.5em;
	background-color: #dadada;
	border: solid 1px #eaeaea;
}

.content.list button:hover {
	background-color: #fafafa;
	border: solid 1px #dadada;
}
.content.list hr {
	border: 0;
	height: 1px;
	padding: 0;
	background-color: #dadada;
}

/* toolbar */
.toolbar {
	margin: 0;
	padding: 0;
	background-color: #eaeaea;
}

.toolbar>span {
	text-decoration: none;
	line-height: 2em;
	text-align: center;
	display: block;
	width: auto;
	overflow: hidden;
	padding: 0 .5em 0 .5em;
	cursor: hand;
}
.toolbar>span:hover {
	border-radius: 0.2em;
	background-color: #dadada;
}
.toolbar>span.icon {
	width: 2em;
	padding: 0;
}
.toolbar>.filename {
	width: auto;
	overflow: hidden;
	text-align: left;
}
.toolbar>.filename:before {
	content: ' ▾ ';
}
.toolbar>.execute:after {
	content: ' ▸ ';
}

/* input and output */
textarea, #output {
	display: block;
	padding: 0;
	border: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow-x: auto;
	overflow-y: scroll;
	border: transparent;
	border-radius: 0;
	font-family: monospace;
}
#output {
	color: black;
	background-color: #eaeaea;
	white-space: pre;
}
#output p {
	min-height: 1em;
}
#output a {
	color: #007bff;
}

/** CodeMirror */
.text-content .CodeMirror {
	margin: 0;
	padding: 0;
	border: 0 solid #eee;
	height: 100%;
}

/* tabs and trailing spaces*/
.cm-trailingspace {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAACCAYAAAB/qH1jAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUXCToH00Y1UgAAACFJREFUCNdjPMDBUc/AwNDAAAFMTAwMDA0OP34wQgX/AQBYgwYEx4f9lQAAAABJRU5ErkJggg==);
	background-position: bottom left;
	background-repeat: repeat-x;
}

.cm-tab {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAMCAYAAAAkuj5RAAAAAXNSR0IArs4c6QAAAGFJREFUSMft1LsRQFAQheHPowAKoACx3IgEKtaEHujDjORSgWTH/ZOdnZOcM/sgk/kFFWY0qV8foQwS4MKBCS3qR6ixBJvElOobYAtivseIE120FaowJPN75GMu8j/LfMwNjh4HUpwg4LUAAAAASUVORK5CYII=);
	background-position: right;
	background-repeat: no-repeat;
}

/* match words */
.CodeMirror-focused .cm-matchhighlight {
/* 	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFklEQVQI12NgYGBgkKzc8x9CMDAwAAAmhwSbidEoSQAAAABJRU5ErkJggg==); */
	background-position: bottom;
	background-repeat: repeat-x;
}
.cm-matchhighlight {background-color: lightgreen}
.CodeMirror-selection-highlight-scrollbar {background-color: green}


body.dark .content.list * { color: #bbb; }
body.dark .content.list { background-color: #3f3f3f; }
body.dark .content.list li:hover { background-color: #6a6a6a; }
body.dark .content.list input { border: solid 1px #7a7a7a; background-color: #5a5a5a; }
body.dark .content.list button { border: solid 1px #4a4a4a;  background-color: #5a5a5a; }
body.dark .content.list select { border: solid 1px #4a4a4a;  background-color: #5a5a5a; }

body.dark .toolbar { background-color: #4a4a4a; color: #ccc; }
body.dark .toolbar>span:hover { background-color: #5a5a5a; }
body.dark textarea,
body.dark #output {
	background-color: #202020;
	color: #bbb;
}

/* idea theme*/
body .text-content .CodeMirror-activeline-background { background: #FFFAE3; }
body .text-content span.cm-number { color: #0000FF; }
body .text-content span.cm-builtin { color: #30a; }
body .text-content span.cm-keyword { line-height: 1em; font-weight: bold; color: #000080; }
body .text-content span.cm-operator { color: black; }
body .text-content span.cm-string-2,
body .text-content span.cm-string { color: #008000; }
body .text-content span.cm-variable-2,
body .text-content span.cm-variable-3,
body .text-content span.cm-variable { color: black; }
body .text-content span.cm-comment { color: #808080; }
body .text-content .cm-matchhighlight,
body .text-content .CodeMirror-matchingbracket {
	background: darkgreen;
	color: white !important;
}

/* darcula theme */
body.dark .text-content .CodeMirror { background: #2a2a2a; color: #aaa; }
body.dark .text-content .CodeMirror-activeline-background { background: #4f4f4f; }
body.dark .text-content .CodeMirror-gutters { background: #3a3a3a; border-right: 1px solid #4a4a4a; }
body.dark .text-content span.cm-number { color: #6897BB; }
body.dark .text-content span.cm-builtin { color: #ab51b2; }
body.dark .text-content span.cm-keyword { line-height: 1em; font-weight: bold; color: #CC7832; }
body.dark .text-content span.cm-operator { color: #A9B7C6; }
body.dark .text-content span.cm-string-2, 
body.dark .text-content span.cm-string { color: #6A8759; }
body.dark .text-content span.cm-variable-2,
body.dark .text-content span.cm-variable-3,
body.dark .text-content span.cm-variable { color: #A9B7C6; }
body.dark .text-content span.cm-comment { color: #808080; }
