* {
	margin: 0;
	padding: 0;
	font-size: inherit;
	font-family: inherit;
}
body {
	width:100%;
	margin: auto;
	display: block;
	font-size: 1em;
	-webkit-text-size-adjust: 100%;
}

.hidden {display: none;}
.clear {clear: both;}
.right {float: right;}
.left {float: left;}

.content {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	position: absolute;
}

.content.list {
	padding: .5em;
	overflow-y: auto;
	background-color: #fafafa;
}

.content.list * {
	padding: .5em 0;
}

.content.list li:hover {
	background-color: #dadada;
	cursor: hand;
}

.content.list ul {
	padding: 0 0 0 1em;
}
.content.list li {
	list-style: none;
	overflow: hidden;
	white-space: nowrap;
	padding: 0.5em 0.25em;
}
.content.list li>* {
	padding: 0;
}
.content.list input {
	margin: 0.25em 0;
	padding: 0.25em 0.25em;
	width: 100%;
	border: solid 1px #dadada;
	border-radius: 0.2em;
}

.content.list button {
	border-radius: 0.2em;
	margin: -.2em 0;
	min-width: 1.5em;
	min-height: 1.5em;
	padding: 0.1em 0.5em;
	background-color: #dadada;
	border: solid 1px #eaeaea;
}

.content.list button:hover {
	background-color: #fafafa;
	border: solid 1px #dadada;
}
.content.list hr {
	border: 0;
	height: 1px;
	padding: 0;
	background-color: #dadada;
}

#menuSplit > div:first-child {
	width: 14em;
	max-width: 45%;
	float: left;
}

#fileList > *:before {
	content: '📄 ';
}

/* toolbar */
.toolbar {
	margin: 0;
	padding: 0;
	height: 2em;
	overflow: hidden;
	background-color: #eaeaea;
}

.toolbar>span {
	text-decoration: none;
	line-height: 2em;
	text-align: center;
	display: block;
	width: auto;
	overflow: hidden;
	padding: 0 .5em 0 .5em;
	cursor: hand;
}
.toolbar>span:hover {
	border-radius: 0.2em;
	background-color: #dadada;
}
.toolbar>span.icon {
	width: 2em;
	padding: 0;
}
.toolbar>span.bold {
	font-weight:bold;
}
.toolbar>.filename {
	width: auto;
	overflow: hidden;
	text-align: left;
}
.toolbar>.filename>input {
	display: inline;
	border: transparent;
	background-color:transparent;
	color: inherit;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
/*.toolbar>.filename:before {
	content: ' ▾ ';
}*/
.toolbar>.execute:after {
	content: ' ▸ ';
}

/* input and output */
textarea, #output {
	display: block;
	padding: 0;
	border: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow-x: auto;
	overflow-y: scroll;
	border-radius: 0;
	font-family: monospace;
}
#output {
	white-space: pre;
}
#output p {
	min-height: 1em;
}
#output a {
	color: #007bff;
}

/* todo: recalculate terminal height with and without toolbar */
#editSplit.split-pane.horizontal #output {
	height: calc(100% - 2.5em);
}

/* show terminal toolbar if editor is maximized */
#editSplit.split-pane.horizontal.primary>div:first-child {
/* 	height: calc(100% - 2em); */
}
#editSplit.split-pane.horizontal.primary>div:last-child {
/* 	display: block; */
}

/* hide terminal toolbar if toolbar is maximized */
#editSplit.split-pane.secondary div.toolbar {
	display: none;
}
#editSplit.split-pane.secondary #output {
	height: 100%;
}

.modal-content {
	background-color: #80808080;
	z-index: 100;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	position: absolute;
}

.modal-content>canvas {
	background-color: white;
	margin: 0;
	padding: 0;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/** CodeMirror */
.text-content .CodeMirror {
	margin: 0;
	padding: 0;
	border: 0;
	height: 100%;
}

/* match words */
.cm-matchhighlight {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFklEQVQI12NgYGBgkKzc8x9CMDAwAAAmhwSbidEoSQAAAABJRU5ErkJggg==);
	background-position: bottom;
	background-repeat: repeat-x;
	background-color: #00800080;
}

.CodeMirror-matchingbracket,
.CodeMirror-selection-highlight-scrollbar {
	background-color: #008000;
}

/* tabs and trailing spaces*/
.cm-trailingspace {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAACCAYAAAB/qH1jAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUXCToH00Y1UgAAACFJREFUCNdjPMDBUc/AwNDAAAFMTAwMDA0OP34wQgX/AQBYgwYEx4f9lQAAAABJRU5ErkJggg==);
	background-position: bottom left;
	background-repeat: repeat-x;
}

.cm-tab {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAMCAYAAAAkuj5RAAAAAXNSR0IArs4c6QAAAGFJREFUSMft1LsRQFAQheHPowAKoACx3IgEKtaEHujDjORSgWTH/ZOdnZOcM/sgk/kFFWY0qV8foQwS4MKBCS3qR6ixBJvElOobYAtivseIE120FaowJPN75GMu8j/LfMwNjh4HUpwg4LUAAAAASUVORK5CYII=);
	background-position: right;
	background-repeat: no-repeat;
}
