body.dark .content.list * { color: #bbb; }
body.dark .content.list { color:#ccc; background-color: #3f3f3f;}
body.dark .content.list li:hover { background-color: #6a6a6a; }
body.dark .content.list input { border: solid 1px #7a7a7a; background-color: #5a5a5a; }
body.dark .content.list button { border: solid 1px #4a4a4a;  background-color: #5a5a5a; }
body.dark .content.list select { border: solid 1px #4a4a4a;  background-color: #5a5a5a; }

body.dark .toolbar { background-color: #4a4a4a; color: #ccc; }
body.dark .toolbar>span:hover { background-color: #5a5a5a; }
body.dark textarea, body.dark #output {
	background-color: #202020;
	color: #bbb;
}

/* idea theme*/
body .text-content .CodeMirror-activeline-background { background: #FFFAE3; }
body .text-content span.cm-number { color: #0000FF; }
body .text-content span.cm-builtin { color: #30a; }
body .text-content span.cm-keyword { line-height: 1em; font-weight: bold; color: #000080; }
body .text-content span.cm-operator { color: black; }
body .text-content span.cm-string-2,
body .text-content span.cm-string {color: #008000;}
body .text-content span.cm-variable-2,
body .text-content span.cm-variable-3,
body .text-content span.cm-variable { color: black; }
body .text-content span.cm-comment { color: #808080; }
/* body .text-content .cm-matchhighlight, */
body .text-content span.CodeMirror-matchingbracket {
/* 	color: darkgreen !important; */
	background: lightgreen;
}

/* darcula theme */
body.dark .text-content .CodeMirror { background: #2a2a2a;color: #aaa; }
body.dark .text-content .CodeMirror-activeline-background { background: #4f4f4f; }
body.dark .text-content .CodeMirror-gutters { background: #3a3a3a; border-right: 1px solid #4a4a4a; }
body.dark .text-content span.cm-number { color: #6897BB; }
body.dark .text-content span.cm-builtin { color: #ab51b2; }
body.dark .text-content span.cm-keyword { line-height: 1em; font-weight: bold; color: #CC7832; }
body.dark .text-content span.cm-operator { color: #A9B7C6; }
body.dark .text-content span.cm-string-2, 
body.dark .text-content span.cm-string { color: #6A8759; }
body.dark .text-content span.cm-variable-2,
body.dark .text-content span.cm-variable-3,
body.dark .text-content span.cm-variable { color: #A9B7C6; }
body.dark .text-content span.cm-comment { color: #808080; }
/* body.dark .text-content .cm-matchhighlight, */
body.dark .text-content .CodeMirror-matchingbracket {
/* 	color: lightgreen !important; */
	background: darkgreen;
}
