.overlay { background-color: #50505050; }

/* light theme */
body #toolbar { background-color: #eaeaea; color: #333; }
body #toolbar>span:hover { background-color: #dadada; }

body #menu { background-color: #fafafa; color:#333; }
body #menu * { background-color: #fafafa; color:#333; }
body #menu hr { background-color: #dadada; }
body #menu li:hover { background-color: #dadada; }
body #menu button { background-color: #dadada; border: solid 1px #eaeaea; }
body #menu button:hover { background-color: #fafafa; }
body #menu select { border: solid 1px #4a4a4a; }

body #editor .CodeMirror-activeline-background { background: #FFFAE3; }
body #editor span.cm-number { color: #0000FF; }
body #editor span.cm-builtin { color: #30a; }
body #editor span.cm-keyword { line-height: 1em; font-weight: bold; color: #000080; }
body #editor span.cm-operator { color: black; }
body #editor span.cm-string-2,
body #editor span.cm-string {color: #008000;}
body #editor span.cm-variable-2,
body #editor span.cm-variable-3,
body #editor span.cm-variable { color: black; }
body #editor span.cm-comment { color: #808080; }
body #editor span.CodeMirror-matchingbracket { background: lightgreen; }

body #output { background-color: #eee; }
body #output a { color: #007bff; }

/* dark theme */
body.dark { background-color: #4a4a4a; }
body.dark #toolbar {background-color: #4a4a4a;color: #ccc;}
body.dark #toolbar>span:hover { background-color: #5a5a5a; }

body.dark #menu { background-color: #3f3f3f; color: #bbb; }
body.dark #menu * { background-color: #3f3f3f; color: #bbb; }
body.dark #menu hr { background-color: #6a6a6a; }
body.dark #menu li:hover { background-color: #6a6a6a; }
body.dark #menu button { background-color: #6a6a6a; border: solid 1px #4a4a4a; }
body.dark #menu button:hover {background-color: #3f3f3f;}
body.dark #menu select { border: solid 1px #4a4a4a; }

body.dark #editor .CodeMirror { background: #2a2a2a;color: #aaa; }
body.dark #editor .CodeMirror-activeline-background { background: #4f4f4f; }
body.dark #editor .CodeMirror-gutters { background: #3a3a3a; border-right: 1px solid #4a4a4a; }
body.dark #editor span.cm-number { color: #6897BB; }
body.dark #editor span.cm-builtin { color: #ab51b2; }
body.dark #editor span.cm-keyword { line-height: 1em; font-weight: bold; color: #CC7832; }
body.dark #editor span.cm-operator { color: #A9B7C6; }
body.dark #editor span.cm-string-2, 
body.dark #editor span.cm-string { color: #6A8759; }
body.dark #editor span.cm-variable-2,
body.dark #editor span.cm-variable-3,
body.dark #editor span.cm-variable { color: #A9B7C6; }
body.dark #editor span.cm-comment { color: #808080; }
body.dark #editor .CodeMirror-matchingbracket { background: darkgreen; }

body.dark #output { background-color: #202020; color: #bbb; }
body.dark #output a { color: #006bef; }

