/* defaults */
* {
	margin: 0;
	padding: 0;
	font-size: inherit;
	font-family: inherit;
}
body {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: inherit;
	height: inherit;
	font-size: 1em;
	overflow: hidden;
	-webkit-text-size-adjust: 100%;
}
select {
	border: 0;
	padding: 0 .5em;
}

.overlay {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
	display: none;
	position: fixed;
	z-index: 9;
}

.left {float: left;}
.right {float: right;}
.clear {clear: both;}
.hidden {display: none;}

/* toolbars */
.toolbar {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	display: block;
	overflow: hidden;
	width: 100%;
	z-index: 10;
}
.toolbar * {
	color: inherit;
	height: inherit;
	line-height: inherit;
	background-color:transparent;
	overflow: hidden;
}
.toolbar > span {
	display: block;
	text-decoration: none;
	text-align: center;
	border-radius: 0.2em;
	cursor: hand;
}
.toolbar > span:last-child {
	width: auto;
	overflow: hidden;
	text-align: left;
}

/* sidebar */
.sidebar {
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
}
.sidebar * {
	/*padding: .5em 0;*/
}
.sidebar ul {
	padding: 0 0 0 1em;
}
.sidebar li {
	list-style: none;
	overflow: hidden;
	white-space: nowrap;
	padding: 0.5em 0.25em;
	line-height: 1em;
}
.sidebar li:hover {
	cursor: hand;
}
.sidebar li.submenu:before,
.sidebar div.submenu {
	padding: 0;
}
.sidebar div.submenu > li:before {
	content: '▾ ';
}
.sidebar li.collapsed.submenu:before,
.sidebar div.collapsed.submenu > li:before {
	content: '▸ ';
}
.sidebar li.collapsed > ul,
.sidebar div.collapsed > ul {
	display: none;
}
.sidebar button {
	border-radius: 0.2em;
	margin: -.2em 0;
	width: 1.5em;
	height: 1.5em;
	padding: 0;
	line-height: 1.5em;
}
.sidebar hr {
	border: 0;
	height: 1px;
	padding: 0;
}

/* customizations */
#main-toolbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 2em;
	line-height: 2em;
}
#main-toolbar > .icon {
	min-width: 2em;
}
#main-toolbar input {
	border: 0;
	width: 100%;
	height: inherit;
	padding: 0 .5em;
}
#output-toolbar {
	height: 1.5em;
	line-height: 1.5em;
}
#output-toolbar > .icon {
	min-width: 1.5em;
}

#left-sidebar {
	float: left;
	right: unset;
	width: 14em;
	padding: .5em;
	overflow-y: auto;
}
#right-sidebar {
	float: right;
	left: unset;
	width: 14em;
	padding: .5em;
	overflow-y: auto;
}
#bottom-sidebar {
	float: right;
	top: unset;
	height : auto;
	/*padding: 0;*/
}

#fileList > *:before {
	content: '📄 ';
}
#fileList > .active {
	border: #bbb 1px solid;
}

#editor-panel {
	width: 100%;
	height: 100%;
}
#editor-panel>textarea {
	display: none;
}
#output-panel {
	width: 100%;
	height: 100%;
}

#output {
	width: inherit;
	height: calc(100% - 1.8em);
	top: 1.5em;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 0;
	overflow-x: auto;
	overflow-y: scroll;
	white-space: pre;
	font-family: monospace;
	background-color: inherit;
}
#output>p {
	min-height: 1em;
}
body.wrap-output #output {
	white-space: pre-wrap;
	overflow-wrap: break-word;
}

#canvas-panel {
	position: fixed;
	display: block;
	z-index: 10;
	overflow: hidden;
}
#canvas-panel>canvas {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* main toolbar translations */
body.tool { padding-top: 2em; }
body.tool #canvas-panel { top: 2em; }
body.tool #left-sidebar { top: 2em; bottom: 1.5em; }
body.tool #right-sidebar { top: 2em; bottom: 1.5em; }
body:not(.tool) #main-toolbar { display: none; }

/* left sidebar */
body.left-bar.left-pin {padding-left: 15em;}
body:not(.left-bar) #left-sidebar { display: none; }
body.left-bar:not(.left-pin) #left-overlay { display: block; }

/* right sidebar */
body.right-bar.right-pin {padding-right: 15em;}
body:not(.right-bar) #right-sidebar { display: none; }
body.right-bar:not(.right-pin) #menu2-overlay { display: block; }

/* right sidebar checked items */
body.tool #show-toolbar:before {content: '✓';}
body.left-pin #pin-left:before {content: '✓';}
body.right-pin #pin-right:before {content: '✓';}
body.wrap-output #wrap-output:before {content: '✓';}
body.editor #show-editor:before {content: '✓';}
body.output #show-output:before {content: '✓';}

/* bottom sidebar */
body.output { padding-bottom: 50vh; }
body:not(.output) { padding-bottom: 1.5em; }
body.output.left-bar #bottom-sidebar { left: 15em; }
body.output #right-sidebar { bottom: 50%; }
body.output #left-sidebar { bottom: 0; }
body.output #bottom-sidebar { height: 50vh; }
body:not(.output) #output { display: none; }

/* panel visibility and size: editor, output, canvas */
body:not(.canvas) #canvas-panel { display: none; }
body.output:not(.editor) #editor-panel { display: none; } 
.toolbar>.editor,.toolbar>.output,.toolbar>.canvas { display: none; }

/* toolbar icon visibility: editor, output, canvas */
body.editor .toolbar>.editor { display: initial; }
body.editor .toolbar>.no-editor { display: none; }
body:not(.editor) #editor-panel { visibility: hidden; }
body:not(.editor) .toolbar>.no-editor { display: initial; }

body.output .toolbar>.output { display: initial; }
body.output .toolbar>.no-output { display: none; }
body:not(.output) .toolbar>.no-output { display: initial; }

body.canvas .toolbar>.canvas { display: initial; }
body.canvas .toolbar>.no-canvas { display: none; }
body:not(.canvas) .toolbar>.no-canvas { display: initial; }
#canvasMove.overlay:not(.hidden) {
	position: absolute;
	display: block;
}

/* custom full screen output */
.toolbar>.output-only.icon {display: none;}
body.output:not(.editor) .toolbar>.output-only.icon {display: initial;}
body.output:not(.editor) #output {
	position: fixed;
	display: block;
	top: 2.5em;
	left: 0;
	right: 0;
	bottom: 0;
	width: unset;
	height: unset;
	z-index: 10;
}
body.output:not(.tool) #output {top: 0;}
/* custom look and feel */
.breakpoints {
	width: 0.8em;
}
.breakpoint {
	color: #822;
}

/* match words */
.cm-matchhighlight {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFklEQVQI12NgYGBgkKzc8x9CMDAwAAAmhwSbidEoSQAAAABJRU5ErkJggg==);
	background-position: bottom;
	background-repeat: repeat-x;
	background-color: #00800080;
}

.CodeMirror-matchingbracket,
.CodeMirror-selection-highlight-scrollbar {
	background-color: #008000;
}

/* tabs and trailing spaces*/
.cm-trailingspace {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAACCAYAAAB/qH1jAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUXCToH00Y1UgAAACFJREFUCNdjPMDBUc/AwNDAAAFMTAwMDA0OP34wQgX/AQBYgwYEx4f9lQAAAABJRU5ErkJggg==);
	background-position: bottom left;
	/* 	background-repeat: repeat-x; */
}

.cm-tab {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAMCAYAAAAkuj5RAAAAAXNSR0IArs4c6QAAAGFJREFUSMft1LsRQFAQheHPowAKoACx3IgEKtaEHujDjORSgWTH/ZOdnZOcM/sgk/kFFWY0qV8foQwS4MKBCS3qR6ixBJvElOobYAtivseIE120FaowJPN75GMu8j/LfMwNjh4HUpwg4LUAAAAASUVORK5CYII=);
	background-position: right;
	background-repeat: no-repeat;
}

/* Animations */
#main-toolbar>.filename>input {
	-webkit-transition: box-shadow 0.5s ease-out;
	-moz-transition: box-shadow 0.5s ease-out;
	-o-transition: box-shadow 0.5s ease-out;
	transition: box-shadow 0.5s ease-out;
}
#main-toolbar>.filename>input.error {
	box-shadow: 0 0 0 0 transparent, inset 0 0 2px 2px #f00;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}

/*! slide in-out
body.left-bar { transition-duration: .4s; }
*/

/* quick-fix*/
body .sidebar .submenu span {
	padding: 0;
	background-color: transparent;
}
