.overlay { background-color: #50505050; }

/* dark theme */
body { background-color: #4a4a4a; }
body .toolbar {background-color: #4a4a4a;color: #ccc;}
body .toolbar>span:hover { background-color: #5a5a5a; }

body .sidebar { background-color: #3f3f3f; color: #bbb; }
body .sidebar * { background-color: #3f3f3f; color: #bbb; }
body .sidebar hr { background-color: #6a6a6a; }
body .sidebar li:hover { background-color: #6a6a6a; }
body .sidebar li:hover * { background-color: #6a6a6a; }
body .sidebar button { background-color: #6a6a6a; border: solid 1px #4a4a4a; }
body .sidebar button:hover {background-color: #3f3f3f;}
body select {background-color: #3f3f3f;color: #bbb;}
body #fileList > .active { background-color: #6a6a6a; }

body #editor-panel .CodeMirror { background: #2a2a2a; color: #aaa; }
body #editor-panel .CodeMirror-gutters { background: #3a3a3a; border-right: 1px solid #4a4a4a; }
body #editor-panel .CodeMirror-matchingbracket { background: darkgreen; }
body #editor-panel .CodeMirror-activeline-background { background: #4f4f4f; }
body #editor-panel span.cm-number { color: #6897BB; }
body #editor-panel span.cm-builtin { color: #ab51b2; }
body #editor-panel span.cm-keyword { line-height: 1em; font-weight: bold; color: #CC7832; }
body #editor-panel span.cm-operator { color: #A9B7C6; }
body #editor-panel span.cm-string-2,
body #editor-panel span.cm-string { color: #6A8759; }
body #editor-panel span.cm-variable-2,
body #editor-panel span.cm-variable-3,
body #editor-panel span.cm-variable { color: #A9B7C6; }
body #editor-panel span.cm-comment { color: #808080; }

body #output-panel { background-color: #202020; color: #bbb; }
body #output-panel a { color: #006bef; }

/* light theme */
body.light .toolbar { background-color: #eaeaea; color: #333; }
body.light .toolbar>span:hover { background-color: #dadada; }

body.light .sidebar { background-color: #fafafa; color:#333; }
body.light .sidebar * { background-color: #fafafa; color:#333; }
body.light .sidebar hr { background-color: #dadada; }
body.light .sidebar li:hover { background-color: #dadada; }
body.light .sidebar li:hover * { background-color: #dadada; }
body.light .sidebar button { background-color: #dadada; border: solid 1px #eaeaea; }
body.light .sidebar button:hover { background-color: #fafafa; }
body.light select {background-color: #fafafa;color:#333;}
body.light #fileList > .active { background-color: #dadada; }

body.light #editor-panel .CodeMirror { background: white; color: black; }
body.light #editor-panel .CodeMirror-gutters { background: #f7f7f7; border-right: 1px solid #ddd; }
body.light #editor-panel .CodeMirror-activeline-background { background: #FFFAE3; }
body.light #editor-panel span.CodeMirror-matchingbracket { background: lightgreen; }
body.light #editor-panel span.cm-number { color: #0000FF; }
body.light #editor-panel span.cm-builtin { color: #30a; }
body.light #editor-panel span.cm-keyword { line-height: 1em; font-weight: bold; color: #000080; }
body.light #editor-panel span.cm-operator { color: black; }
body.light #editor-panel span.cm-string-2,
body.light #editor-panel span.cm-string {color: #008000;}
body.light #editor-panel span.cm-variable-2,
body.light #editor-panel span.cm-variable-3,
body.light #editor-panel span.cm-variable { color: black; }
body.light #editor-panel span.cm-comment { color: #808080; }

body.light #output-panel { background-color: #eee; }
body.light #output-panel a { color: #007bff; }
