html body {
	overflow: hidden;
	padding: 0;
	margin: 0;
}

#loading {
    text-align: center;
}

#tabs {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 1.6em;
	padding-left: .5em;
    border-bottom: .1em solid #ccc;
    background-color: #f3f3f3;
}
#tabs>span {
	cursor: pointer;
	display: inline-block;
    border-bottom: .2em solid transparent;
    padding-top: .3em;
    padding-left: .3em;
    padding-right: .3em;
    padding-bottom: .1em;
}
#tabs>span:hover {
    background-color: #ccc;
}
#tabs>span.active {
    border-bottom: .2em solid #99c;
}

#content {
	display: block;
	position: absolute;
	top: 1.6em;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0px;
	margin-top: .1em;
}
#content>div {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0;
}
#content>div.active {
	display: block;
}

#call_chart_data {
	position: absolute;
	overflow: visible;
	top: 0;
	left: 0;
	right: 0;
	bottom: 80%;
	margin: 0;
	background-color: #f3f3f3;
}
#call_chart_data>div {
	overflow: hidden;
	background-color: gray;
	position: absolute;
	cursor: pointer;
}

#call_tree_data {
	position: absolute;
	overflow-y: scroll;
	top: 20%;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 8px;
	margin: 0;
}

/* HitCount, SelfTime, TotalTime */
#call_tree_data th,
#call_tree_data td {
	text-align: right;
	padding-right: 1em;
}
/* Function name and expander */
#call_tree_data th:last-child,
#call_tree_data td:last-child {
	text-align: left;
	padding-right: 0;
}
/* Function expander */
#call_tree_data td:last-child>span:first-child {
	cursor: pointer;
	display: inline-block;
	min-width: 1em;
	padding-right: 5px;
}
/* Highlightings */
#call_tree_data>tr:hover,
#call_tree_data>tr.hover,
#call_chart_data>div:hover,
#call_chart_data>div.hover {
	background-color: yellowgreen;
}
